body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}

.asterisk {
   color: red;
}

.nav-text {
     padding: 15px 50px;
}
.visibleDiv, #topRight
{
    position: fixed;
    width: 250px;
    border: solid 1px #e1e1e1;
    vertical-align: middle;
 
    text-align: center;
}
#topRight
{
    top: 120px;
    right: 2px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 900px;
    }
}