<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>BLS Inventory</title>
    <style type="text/css">
        body{
        width:600px;
        margin:0 auto; 
        border:solid;      
        }
        .line_break {
            width:560px;
            /*height: 1px;*/
            float: left;
            color: black;
            padding-top: 5px;
            padding-left: 0px;
            margin: 0 0 0px;
            background-color: rgba(255,255,255,.5);          
            border:solid;  
            border-bottom: 1px solid black;  
            border-top: 1px solid black;  
            border-left: 0px;
            border-right: 0px;
        }
    </style>
</head>
<body>
    <br/><br/><br/><br/><br/>
    <img src="/Images/Banner.jpg" width="550" alt="BLS Inventory Management System" />
    <br/><br />
    <!--<hr class="line_break" />-->
    <div class="line_break" style="text-align:right">April 19, 2016&nbsp;&nbsp;</div>
    <!--<hr class="line_break" />-->
    <table>
        <tr>
            <td>
                <h2 style="width: 380px">Trapped by your Inventory?</h2>
                BLS Inventory provides a complete, user-friendly, feature rich integrated environment 
                that supports all general parts distribution business and industry specific activities - 
                including inventory control, purchase orders and sales.
                An Inventory Management System designed specifically for the parts distributor.
            </td>
            <td>
                <img src="/Images/Trapped.jpg" width="180" alt="" />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="width: 33%">
                Some inventory systems treat every user as a super-user. BLS Inventory allows you to restrict the functions a given user can perform.
                For example: a sales person could create Sales Orders but, would not be able to create Purchase Orders.
            </td>
            <td style="width: 33%">
                You have 100 of an item in stock but, their manufacture date is not all the same, the price you paid varies, and
                they are from multiple manufacturers and vendors. BLS Inventory allows you to track these variables and more!
                And your sales staff can be directed to favor some over others.
                Each item quantity source is tracked and can be sold separately. This provides you with greater control over your inventory.
            </td>
            <td style="width: 33%">
                Your customer wants a certain item that you are either out of stock or don’t normally carry.
                Do you send them to another supplier? BLS Inventory lets you sell out of stock items and have them drop-shipped directly from you vendor.
                You can even change your mind and issue a Purchase Order to the vendor for later shipping.
            </td>
        </tr>
    </table>
</body>
</html>
