@{
    ViewBag.Title = "About Business Logistics Systems";
}
<br/><br/><br/><br />
<div align="center">
<div style="width: 800px" align="left">
    <h2>@ViewBag.Title.</h2>

    <p>
        At Business Logisitics System we have many decades of applications systems experience.
        We have performed projects a small as writing an email interceptor for MS Outlook to building a large computer complex for the US Army.
        As the computer industry shifted away from legacy mainframes to client/server applications
        to web-enabled systems, we have kept pace.
    </p>
    <p>
        Our company has decades of accrued experience working with clients to create
        more efficient, cost effective business solutions by optimizing and updating
        outmoded programs and cumbersome databases.
    </p>
    <p>
        Our latest offering, BLS Inventory Management,
        grew out of our relationships with parts distributors across the country.
    </p>
    <p><b>Some of our clients over the years:</b></p>
    <br />
    <img src="~/Images/companies.jpg" />
</div>
</div>