
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Privacy Policy</h2>

<p>www.abc-inventory.com is a website owned by ???.</p>

<h4>Our postal address</h4>

<p>???
    <br/>
We can be reached via e-mail at ABCInventory.com@gmail.com, or you can reach Customer Support by telephone at +1-727-474-4418 (Monday to Friday).  ( Use number image)
</p>
<h3>General…</h3>
<p>We will need Contact Information for providing access to services requested by you. At ??? we respect your need for online privacy and protect any information that you may share with us, in an appropriate manner. In compliance with the Children's Online Privacy Protection Act of 1998, ???  does not collect personal information from users who are under 13 years of age. By agreeing to use our products or services, you represent that you are 13 years or older.</p>
<h3>Information we collect…</h3>
<p>When you sign up for an ABC-Inventory.com  trial or software membership that requires registration or express interest in our products, we ask you for personal information such as your name and email address. You may also be asked to choose a unique username, a password. In addition, we collect information regarding the Internet Protocol address, browser type, browser language, referring URL, files accessed, errors generated, time zone and operating system of visitors to our websites. In case of products or services requiring payment, we request credit card or other payment account information, which will be used solely for processing payments. If you are a user of ABC-Inventory.com  services, we also store and maintain your Username & Password to your account in order to provide the services for which you are registered.</p>
<p>We use temporary and permanent cookies to enhance the experience on our websites, a permanent cookie will be stored in your computer and you will not have to sign-in by providing complete login information, each time you return to our website. If you have turned cookies off, you may not be able to use registered areas of the websites.</p>
<h3>How we use Information…</h3>
<p>Your personal information such as name and email address is used to keep you informed on new products/versions/updates/service packs, upcoming events and changes in this privacy policy. Any alternate email address, security question and the answer to the security question, if given, will be used solely for the purpose of resetting password. We do not process or use the contents of your documents, to-do list and other data stored in ABC-Inventory.com  accounts for any purpose other than to provide access to the services.</p>
<p>Your Financial Information will not be stored by us and will be used solely for processing payments. Subject to your prior consent and where necessary for processing future payments, your financial information will be stored in encrypted form on secure servers of reputed Payment Gateway Service Provider.</p>
<p>We use Internet Protocol address, browser type, browser language, referring URL, files accessed, errors generated, time zone and operating system of visitors collected in our log files to analyze the trends, administer the websites, track visitor's movements and to improve our applications.</p>
<h3>With whom we share Information…</h3>
<p>We do not share the contents of documents, to-do list and other data related to any ABC-Inventory.com  account maintained and stored by us with any third party.</p>
<h3>How secure is your Information…</h3>
<p>We adopt appropriate data collection, storage and processing practices and security measures, as well as physical security measures to \protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored in your account. Access to your name and email address is restricted to our employees, contractors, business partners, affiliates and resellers who need to know such information in connection with our products and services and are bound by confidentiality obligations.</p>

<h3>Your Choice in Information Use…</h3>
<p>You will be required to register for our services by providing personal information. You can decline to submit personal information to any of our services, in which case we may not be able to provide those services to you. While using our services, you are not allowed to opt out from receiving information on versions/updates/service packs. We will obtain your prior consent for use of your personal information in a manner different than the purpose for which it was collected or the purposes described in this privacy policy. In such cases we will offer you an effective way to opt out of the use of your personal information for those other purposes.</p>
<h3>Accessing, Updating and Removing Personal Information…</h3>
<p>Upon request we provide users with access to their personally identifiable information free of charge. Users may correct, update or remove any such personally identifiable information either through the users’ profile or by contacting ABC-Inventory.com Customer Support abcinventory.com@gmail.com. Such changes may take up to 48 hours to take effect.</p>
<h3>Enforcement of Privacy Policy…</h3>
<p>We make every effort including periodic reviews to ensure that personal information provided by you is used in conformity with this privacy policy. If you have any concerns regarding our adherence to this policy or the manner in which personal information is used on our websites, kindly contact ABC-Inventory.com Customer Support at abcinventory.com@gmail.com. We will contact you to address your concerns and we will also co-operate with regulatory authorities in this regard.</p>
<h3>Notification of Changes…</h3>
<p>Any changes to our privacy policy will be posted on our websites in order to keep you informed of any changes in nature of information collected and manner of collection, use and sharing of information. If at any point we decide to use personally identifiable information in a manner different from that stated at the time it was collected, we will notify you by email and provide you with the ability to opt out of these new uses. If you are concerned about how your information is used, you should check back at http://www.abc-inventory.com/privacy  periodically.</p>
<h3>End of Privacy Policy…</h3>
<p>If you have any questions or concerns regarding our privacy policy, please contact us at ABCInventory.com@gmail.com</p>

